# Database Connection
/logic/database.php
/logic/getDataFromDB.php
/logic/getServerStatusByName.php
/logic/getStatusNameByCode.php
/logic/rateLimiter.php
/logic/updateServerStatusByName.php
/logic/registration/calculateStatus.php
/logic/registration/getChoicesData.php
/logic/registration/getClass.php
/logic/registration/getDetailPendaftaranDataByPendaftaranId.php
/logic/registration/getJabatan.php
/logic/registration/components/
/logic/registration/admin/
/logic/Gallery/
/logic/Blogs/
/logic/auth/login.php
/logic/account/
/logic/registration/getUserDataByUserId.php
/admin/gallery/deleteGallery.php

# File Uploads
/uploads/

# Logs
*.log
*.LOG


login.php
register.php