# Database Connection
/logic/database.php
/logic/getDataFromDB.php
/logic/getServerStatusByName.php
/logic/getStatusNameByCode.php
/logic/rateLimiter.php
/logic/updateServerStatusByName.php

# File Uploads
/uploads/

# Logs
*.log
*.LOG