RewriteEngine On

RewriteRule ^blog$ blog.php [L]
RewriteRule ^gallery$ gallery.php [L]
RewriteRule ^login$ login.php [L]

RewriteRule ^blog/edit$ editBlogPost.php [L]
RewriteRule ^blog/create$ createBlog.php [L]

RewriteRule ^gallery/create$ createGallery.php [L]
RewriteRule ^gallery/edit$ editGallery.php [L]